@import "./common.scss";

.alam-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 20;

  .alam-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
  }

  &.hidden {
    display: none;
  }

  .alam {
    width: 400px;
    background-color: $color--white;
    position: absolute;
    top: 80px;
    right: 20px;
    margin-top: -10px;
    border-radius: 5px;
    padding: 25px;

    &::after {
      content: "";
      border-top: 0px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $color--white;
      position: absolute;
      top: -10px;
      left: 295px;
    }

    h1 {
      font-weight: 600;
    }

    .alam__detail-wrapper {
      .alam__detail {
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        img {
          width: 70px;
        }

        .alam_detail-desc {
          h1 {
            margin-bottom: 10px;
          }
          p {
            font-size: 14px;
            line-height: 1.2em;
          }
        }

        &:hover {
          scale: 1.05;
        }
      }
    }
  }
}
